/*****************************
TABLE OF CONTENTS:
  Body
  Headers
  Links
  Footer
Sections
  Top Navigation Bar
    Topnav Links
    Topnav Menu
    About Me
    Portfolio
    Contact
Additional Pages
  Case Study

****************************/


/******************************
GLOBAL ELEMENTS
*******************************/

/******************************
Body
*******************************/

body {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  line-height: 2rem;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

/******************************
Headers
*******************************/

h2 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #4db6ac;
  margin: 0;
  padding: 5vw;
  box-shadow: 0 4px 2px -2px #8d8d8d;
}

@media screen and (min-width: 900px) {
  h2 {
    font-size: 3rem;
  }
  @media screen and (min-width:1800px) {
    h2 {
      font-size: 5rem;
    }
  }
}

/******************************
Links
*******************************/

a {
  color: #4db6ac;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #8d8d8d;
}

/******************************
Footer 
*******************************/

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 3vw;
  font-weight: 900;
}

@media screen and (min-width:1800px) {
  footer {
    font-size: 3rem;
    line-height: 3rem;
  }
}

/******************************
SECTIONS
*******************************/

/******************************
Top Navigation Bar
*******************************/

.topnav {
  color: #4db6ac;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #bdbdbd;
  box-shadow: 1px 1px #efefef;
}

/******************************
Topnav Links
*******************************/
.topnav a {
  color: #4db6ac;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  .topnav a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .topnav a {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .topnav a {
    font-size: 2rem;
    padding: 2vw;
  }
}

@media screen and (min-width:1800px) {
  .topnav a {
    font-size: 3rem;
    padding: 2vw;
  }
}

.topnav a:hover {
  color: #ffffff;
  background-color: #4db6ac;
}

/******************************
Topnav Menu (Dropdown for mobile, row for all other devices)
*******************************/

.topnav-menu {
  position: relative;
  display: inline-block;
}

.topnav-menu:hover .topnav-sections {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .topnav-menu:hover .topnav-sections {
    display: flex;
  }
}

#menu-icon {
  padding: 22px 25px;
  color: #4db6ac;
  border: 0;
  background-color: #ffffff;
}

@media screen and (min-width: 600px) {
  #menu-icon {
    display: none;
  }
}

.topnav-sections {
  display: none;
  position: absolute;
  right: 1vw;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  box-shadow: 1px #efefef;
  z-index: 1;
}

@media screen and (min-width: 600px) {
  .topnav-sections {
    display: flex;
    flex-direction: row;
    border: 0;
  }
}

.topnav-sections a {
  color: #000000;
  display: block;
}

.topnav-menu:hover #menu-icon {
  color: #ffffff;
  background-color: #4db6ac;
}

/******************************
About Me
*******************************/

#about-me {
  background-color: #efefef;
  position: relative;
  padding-top: 5vw;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  box-shadow: 1px 1px #efefef;
}

.about-me-container {
  display: flex;
}

.about-me-text {
  font-size: 1.5rem;
  margin: 5vw;
  color: black;
}

@media screen and (min-width: 900px) {
  .about-me-text {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .about-me-text {
    line-height: 4rem;
  }
}

@media screen and (min-width:1800px) {
  .about-me-text {
    font-size: 4rem;
    line-height: 5rem;
  }
}

/******************************
Portfolio
*******************************/

#portfolio {
  position: relative;
  margin: 5vw;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .portfolio-container {
    flex-direction: row;
  }
}

.portfolio-item {
  flex-direction: column;
  align-self: center;
  padding-bottom: 5vw;
}

@media screen and (min-width: 600px) {
  .portfolio-item {
    flex-basis: 50%;
  }
}

.portfolio-item-header {
  color: #4db6ac;
  text-transform: uppercase;
}

@media screen and (min-width:1800px) {
  .portfolio-item-header {
    font-size: 4.5rem;
  }
}

.sample-image {
  display: flex;
  width: 90%;
  border: 3px solid #8d8d8d;
}

@media screen and (min-width: 600px) {
  .sample-image {
    height: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .sample-image {
    height: 40%;
  }
}

@media screen and (min-width:1800px) {
  .sample-image {
    width: 95%;
  }
}

.sample-image-fullpage {
  display: flex;
  margin: 3vw;
  width: 90%;
  border: 3px solid #8d8d8d;
}


/******************************
Contact
*******************************/

#contact {
  background-color: #efefef;
  margin: 0 -5vw;
  padding: 5vw;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  box-shadow: 1px 1px #efefef;
}

.media-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3vw;
  padding-bottom: 3vw;
}

.external-link {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-self: center;
  align-items: center;
  text-decoration: none;
  background-color: #4db6ac;
  color: #ffffff;
  padding: 2vw;
  border: 3px solid #8d8d8d;
  border-radius: 50%;
}

@media screen and (min-width:1800px) {
  .external-link {
    line-height: 4rem;
    font-size: 4rem;
  }
}

#my-photo {
  display: none;
}

@media screen and (min-width: 1200px) {
  #my-photo {
    display: flex;
    border: 3px solid #757575;
    border-radius: 50%;
  }
}

/******************************
ADDITIONAL PAGES
*******************************/

/******************************
Case Study
*******************************/
.case-study-header {
  background-color: #efefef;
}

.case-study {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid #bdbdbd;
  box-shadow: 1px 1px #efefef;
}

.case-study-text {
  margin: 3vw;
}

@media screen and (min-width:1800px) {
  .case-study-text {
    font-size: 3rem;
    line-height: 3rem;
  }
}
